h1 {
    text-align: center;
}

body {
    background-color: #8A8A8D
}
.container {
    background-color: green;
    width: 75%;
    margin-left: 12.5%;
    height: 75%;
}

#logInOut {
    margin: 0 auto;
    padding: 15px; 
    border-color: black;
    border-width: 2px;
}

#dealerCards {
    margin: 0 auto;
    padding: 15px;
    border: 10px;
    background-color: #14243C;
    height: 150px;
    
}

#gameplayButtons {
    text-align: center;
}

.sumDisplay {
    text-align: center;
    margin: 0 auto;
}

#playerCards {
    margin: 0 auto;
    padding: 1%;
    background-color: red;
    height: 150px;
    border: 10px;
}

#gameSetupButtons {
    text-align: center;
}

.winsDisplay {
    padding: 10px;
    margin: 0 auto;
    border: 10px;
    text-align: center;
}